
.display-flex {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [footer-start] 1fr 4fr [footer-end];
  grid-template-rows: auto [footer-start] 60px [footer-end];
  background-color: rgba(200, 0, 240, .2);
}

.Display {
  background-color: limegreen;
}

.UserList {
  background-color: tomato;
}

.Input {
  background-color: skyblue;
  grid-area: footer;
}
