<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Socket examples | Two Rooms</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h2>Socket two room example</h2>
    <div class='container'>
      <div id='left' class='col'>left</div>
      <div id='right' class='col'>right</div>
      <div id='other' class='col'>other</div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
