<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Imported Routes | Socket Examples</title>
    <link rel="stylesheet" href="/css/index.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>

    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1>title</h1>
    <button class="ping">Ping Request</button>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
