<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Channels | Socket Examples</title>
    <link rel="stylesheet" href="/css/index.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
  </head>
  <body>
    <h1>Channels | Socket Examples</h1>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
