<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Socket examples | Two Rooms</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h2>Socket two room example</h2>
    <div class='container'>
      <div id='left' class='col'>
        <strong>Left</strong>
        <hr />
      </div>
      <div id='right' class='col'>
        <strong>Right</strong>
        <hr />
      </div>
      <div id='other' class='col'>
        <strong>Other</strong>
        <hr />
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
