<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Socket Examples | EJS</title>
  </head>
  <body>
    <h1>Hello socket</h1>
    <button onClick='userAdd()'>Add a number</button>
    <ul id='root'></ul>
  </body>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
